<div class="row">

    <div class="col-md-4 col-md-offset-1">

        <h2>Login</h2>

        <div class="loginBox">
            <label>Email : </label>
            <input type="text" class="form-control email-login" id="emailLogin" placeholder="Email" ng-model="emailLogin">
            <br/>
            <label>Password : </label>
            <input type="password" class="form-control password-login" id="passwordLogin" placeholder="Password" ng-model="passwordLogin">
            <br/>
            <button class="btn btn-primary" id="login" ng-click="login()">Login</button>

        </div>
    </div>

    <div class="col-md-5">

        <h2>Register</h2>

        <div class="registerBox">
            <label>Name : </label>
            <input type="text" class="form-control name-register" id="nameRegister" placeholder="Name" ng-model="nameRegister">
            <br/>
            <label>Email : </label>
            <input type="text" class="form-control email-register" id="emailRegister" placeholder="Email" ng-model="emailRegister">
            <br/>
            <label>Moble number : </label>
            <input type="text" class="form-control mobile-register" id="mobileRegister" placeholder="Mobile" ng-model="mobileRegister">
            <br/>
            <label>Password : </label>
            <input type="password" class="form-control password-register" id="passwordRegister" placeholder="Password" ng-model="passwordRegister">
            <br/>
            <button class="btn btn-primary" id="register" ng-click="register()">Register</button>
        </div>
    </div>
</div>